{% load staticfiles %}
<head xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0">
<link rel="stylesheet" href="{% static "Interface27/jquery.min.js" %}">
<link rel="stylesheet" href="{% static "js/bootstrap.min.js" %}">
<style>
</style>
<title>M.S.A.T.</title>
<body>
        <div id="page-content-wrapper">
            <div class="page-content inset">
                </br>
                </br>
                <h1>Mixed Script Analysis Tool</h1>

                <div id="demo" class="blocktext">
                    <div class="container-fluid">
                        <div class="col-xs-12">
                            <form class="form-group" role="search" action='/analysed/' method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="search" name="sentence" class="form-control input-lg" placeholder="Analyse">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-lg"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if word %}
                        <h3 style="color:#3A3A3E" >Analysed Result</h3>
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-md-12">
                                    {% for a,b,c in word %}
                                        <span style="color:{{b}}">{{ a }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h3 style="color:#3A3A3E" >Details</h3>
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-md-5">
                                    {% for a,b,c in word %}
                                        <p style="color:{{b}}">{{ a }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    {% for a,b,c in word %}
                                        <p style="color:{{b}}"> {{ c }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted">About |</p>
                    </div>
                </footer>
                </div>
            </div>
        </div>
</body>